test/unit/resources/SACT/CommonTypes_20110810.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" blockDefault="#all" finalDefault="extension" version="1.0.0">
	<!-- SUS-specific base data types -->
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation>Restrictions as per CDS 6-2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1900-01-01"/>
			<xs:maxInclusive value="2999-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>Restrictions inferred from CDS 6-2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="1900-01-01T00:00:00"/>
			<xs:maxInclusive value="2999-12-31T23:59:59"/>
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T([0-9]|[0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeType">
		<xs:annotation>
			<xs:documentation>Restrictions as per CDS 6-2: hour values in time fields should be 00 to 23 inclusive and .sss and timezone offset are disallowed.		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:time">
			<xs:pattern value="([0-9]|[0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeListType">
		<xs:annotation>
			<xs:documentation>CodeList values can be any character and must not be empty</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericType">
		<xs:annotation>
			<xs:documentation>Only allows letters and numbers. Empty string disallowed. Whitespace disallowed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="RestrictedStringType">
			<xs:pattern value="[A-Za-z0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedStringType">
		<xs:annotation>
			<xs:documentation>Only allows letters, numbers and common punctuation and symbols. Empty string disallowed. Definition as GDSC plus dagger symbol to support ICD-10</xs:documentation>
		</xs:annotation>
		<xs:restriction base="PopulatedStringType">
			<xs:pattern value="[A-Za-z0-9\s~!&quot;@#$%&amp;'\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]_\{\}\^&#xa3;&#x20ac;&#8224;]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PopulatedStringType">
		<xs:annotation>
			<xs:documentation>A non-empty string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationType">
		<xs:restriction base="xs:duration"/>
	</xs:simpleType>
	<xs:simpleType name="IntegerType">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="PositiveIntegerType">
		<xs:restriction base="IntegerType">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DecimalType">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<!-- Common dataset definitions used accross payloads -->
	<xs:simpleType name="OrgCodeType">
		<xs:annotation>
			<xs:documentation>Organisation code is represented as a string of 3-8 uppercase letters and digits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AlphaNumericType">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[A-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrgCode_CodeOfCommissionerType">
		<xs:restriction base="OrgCodeType"/>
	</xs:simpleType>
	<xs:simpleType name="OrgCode_CodeOfProviderType">
		<xs:restriction base="OrgCodeType"/>
	</xs:simpleType>
	<xs:simpleType name="SiteCodeType">
		<xs:restriction base="AlphaNumericType">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[A-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiteCode_OfTreatmentType">
		<xs:restriction base="SiteCodeType"/>
	</xs:simpleType>
	<xs:simpleType name="PostcodeType">
		<xs:annotation>
			<xs:documentation>Adds a pattern restriction to CDS v6-2 PostcodeOfUsualAddress. Defn is taken from GDSC.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="RestrictedStringType">
			<xs:pattern value="[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z-[CIKMOV]]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumberStatusIndicatorCodeType">
		<xs:restriction base="CodeListType">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumberType">
		<xs:annotation>
			<xs:documentation>NHS Number is represented as a string of 10 digits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:length value="10"/>
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalPatientIdentifierType">
		<xs:annotation>
			<xs:documentation>Spaces disallowed</xs:documentation>
		</xs:annotation>
		<xs:restriction base="RestrictedStringType">
			<xs:maxLength value="10"/>
			<xs:pattern value="[^\s]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOfBirthType">
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1880-01-01"/>
			<xs:maxInclusive value="2999-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceRequestIdentifierType">
		<xs:restriction base="RestrictedStringType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommunityCareContactIdentifierType">
		<xs:restriction base="RestrictedStringType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarePlanIdentifierType">
		<xs:restriction base="AlphaNumericType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActivityLocationTypeCodeType">
		<xs:restriction base="CodeListType">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrgCode_LocalPatientIdentifierType">
		<xs:restriction base="OrgCodeType"/>
	</xs:simpleType>
	<!--Code Lists with enumerations added in CommonTypes.xls-->
	<xs:simpleType name="CareProfessionalStaffGroup_CommunityCareType">
		<xs:restriction base="CodeListType">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferralToTreatmentStatusType">
		<xs:restriction base="AlphaNumericType">
			<xs:length value="2"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="91"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BooleanType">
		<xs:restriction base="AlphaNumericType">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenderType">
		<xs:restriction base="CodeListType">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EthnicCategoryType">
		<xs:restriction base="AlphaNumericType">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="99"/>
			<xs:pattern value="[ABCDEFGHJKLMNPRSZ]"/>
			<xs:pattern value="[ABCDEFGHJKLMNPRSZ]."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsultantCodeType">
		<xs:restriction base="AlphaNumericType">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MainSpecialtyCode">
		<xs:restriction base="AlphaNumericType">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrimaryICDDiagnosisType">
		<xs:restriction base="CodeListType">
			<xs:minLength value="4"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MorphologyICDOType">
		<xs:restriction base="CodeListType">
			<xs:minLength value="5"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TNMCategoryType">
		<xs:restriction base="AlphaNumericType">
		<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OPCSProcedureType">
		<xs:restriction base="CodeListType">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonHeightInMetresType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\.\d{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonWeightType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,3}\.\d{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="OrganisationPersonIdentity">
		<xs:sequence>
			<xs:element name="NHSNumberStatusIndicatorCode" type="NHSNumberStatusIndicatorCodeType">
				<xs:annotation>
					<xs:documentation>Not an attribute of NHSNumber as value 08 means number not present</xs:documentation>
					<xs:appinfo>NHS NUMBER STATUS INDICATOR</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="LocalPatientIdentifier" type="LocalPatientIdentifierType">
						<xs:annotation>
							<xs:appinfo>LOCAL PATIENT IDENTIFIER</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgCode_LocalPatientIdentifier" type="OrgCode_LocalPatientIdentifierType">
						<xs:annotation>
							<xs:appinfo>ORGANISATION CODE (LOCAL PATIENT IDENTIFIER)</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NHSNumber" type="NHSNumberType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>NHS NUMBER</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="NHSNumber" type="NHSNumberType">
					<xs:annotation>
						<xs:appinfo>NHS NUMBER</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="PatientIdentityWithheld"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
</xs:schema>
